html {
  height: 100%;
  width: 100%;
}


.container2,
 #Verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  color:white;
  padding-top: 10px;
  margin-top: 0%;
}

 

 .container2 a {
   width: 1000px; 
   height: 50px; 
   display:inline-block;
  
 }
 
.container2 a:hover {
   transform: scale(1.2);
   transition: transform 0.2s ease; 
 }

#Verify{
  display: inline;
}

/* skills */
a {
  color: white;
}



.list-inline-item:hover{
   scale:1.2
  
}


.list-inline{
  margin-bottom: 70px;
}

p{
  color: white;
}



#skills{
  padding-bottom:30px;
  color: white;
}
/* skills */


#about{
  color:white;
}





#submit{
  margin:30px;
 
}



/* navbar */
.navbar {
  background-color:#150404 !important;
}

.navbar a{
  color: white !important;
  font-size: 20px;
}

.navbar-toggler {
  background-color: white !important;
}
  /* navbar */

/*=========================================
  Plant Identifier browse button
/* ======================================*/ 
.custom-file {
  position: relative;
  display: inline-block;
}

.custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.custom-file-label {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #0F6EFD;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
}

.custom-file-label::after {
  content: "Upload";
}

.custom-file-input:valid + .custom-file-label::after {
  content: "File uploaded!";
}

.custom-file-input:focus + .custom-file-label,
.custom-file-input.has-focus + .custom-file-label {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}



















