html {
  height: 100%;
  width: 100%;
}

.col3{
  background-color: white;
}

#OR{
  margin-top: 20px;
}

.list-group:hover{
  color:blue;
}


p{
  color: black;
}

#contact{
  color:black ;
}

#skills{
  padding: 10px;
}